.idea
syntax:glob
deploy
externals
lib
release
bin
analysis
dist
build
lim.interactions.*

*.pyc
*.swp
*.swo
*.swn

logs
wheelhouse/
.coverage
.ropeproject


packer_cache

qatp/static/admin
qatp/static/rest_framework


config/schedule.cfg

\#*\#
